SchedulerApp/SchedulerApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SchedulerApp/SchedulerApp/obj/Debug/SchedulerApp.csproj.GenerateResource.Cache
SchedulerApp/SchedulerApp/obj/Debug/SchedulerApp.csprojResolveAssemblyReference.cache
SchedulerApp/SchedulerApp/obj/Debug/SchedulerApp.pdb
SchedulerApp/SchedulerApp/obj/Debug/SchedulerApp.exe
SchedulerApp/SchedulerApp/obj/Debug/SchedulerApp.csproj.FileListAbsolute.txt
SchedulerApp/SchedulerApp/bin/Debug/SchedulerApp.vshost.exe